server:
  port: 7070

spring:
  application:
    name: user-service
  config:
    import: 'optional:configserver:'
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone:
        http://localhost:8081/eureka/
    register-with-eureka: true
    fetch-registry: true
